@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
	box-sizing: border-box;
}

a, button{
	transition: all .3s ease-in;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Poppins', sans-serif;
	color:#444;
	line-height: 1.6;
	font-size: 22px;
	font-weight: 400;
}

@media screen and (max-width: 760px){
	body{
		font-size: 16px;
	}
}

.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.container--sm{
	max-width: 750px;
}

.box{
	padding: 90px 0;
}

.box--padding-lg{
	padding: 140px 0;
}

.box--bg-pink{
	background-color: pink;
}

.box--bg-grey{
	background-color: #eeeeee;
}

.box--bg-gradient{
	color: #fff;
	background-image: linear-gradient(to bottom, #333339 50%, #fe00cc 100%);
}

h1,h2{
	font-size: 62px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 30px;
}

h6{
	font-size: 14px;
}

@media screen and (max-width: 760px){
	h1,h2{
		font-size: 42px;
	}
}

header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #ffffff;
}

header a{
	color: inherit;
}

.logo{
	font-weight: 700;
	font-size: 33px;
}

.logo:hover,
.logo:focus,
.logo:active{
	color: #e71cb4;
}

nav ul{
	padding: 0;
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-left: 25px;
}

nav ul li a{
	padding: 5px 0;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
	color: #e71cb4;
	border-bottom: 2px solid #e71cb4;
}

header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero{
	min-height: 100vh;
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/hero.jpg);
}

.hero__title{
	margin-bottom: 30px;
}

.hero__text{
	font-size: 30px;
	margin-bottom: 70px;
}

.btn{
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	color: #ffffff;
	background-color: #e71cb4;
	border: 2px solid #e71cb4;	
	border-radius: 5px;
	padding: 15px 45px;
}
.btn--lg{
	font-size: 22px;
	padding: 20px 80px;
}
.btn:hover,
.btn:focus,
.btn:active{
	color: #e71cb4;
	background-color: #ffffff;
}

.btn--transparent{
	background-color: transparent;
	border-color: #ffffff;
}

.btn--transparent:hover,
.btn--transparent:focus,
.btn--transparent:active{
	color: #444444;
}

.btn--silver{
	background-color: #555555;
	border-color: #555555;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 40px 0 0;
}

.btn--silver:hover,
.btn--silver:focus,
.btn--silver:active{
	color: #e71cb4;
}

.text-purple{
	color: #e71cb4;
}
.corse{
	padding: 25px 0;
	list-style: none;
	font-size: 24px;
	font-weight: 500;
	column-count: 2;
	column-gap: 30px;
}

@media screen and (max-width: 960px){
	.corse{
		column-count: 1;
	}
}

.course__index{
	font-weight: 700;
	font-size: 44px;
	display: inline-block;
	padding: 0 25px;
	line-height: 1.2;
	flex: 0 0 auto;
}

.course__index > i{
margin-right: 25px;
}

.corse li{
	display: flex;
	padding: 25px 0;
}

@media screen and (max-width: 576px){
	.corse li{
		flex-direction: column;
	}
	.course__index{
		font-size: 32px;
		padding: 0;
	}
}

.text-centr{
	text-align: center;
}

.text-yellow{
	color: yellow;
}
.text-salmon{
	color: salmon;
}
.text-blue{
	color: blue;
}
.text-gren{
	color: green;
}

.text-lg {
	font-size:32px;
	margin: 90px 0;
}

@media screen and (max-width: 760px){
	font-size: 14px;
}
.text-sm{
	font-size: 14px;
	margin: 45px 0;
}
.people{
	list-style: none;
	padding: 0;
	margin: 40px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (max-width: 960px){
	.people{
		justify-content: space-around;
	}
}

.person{
	padding: 20px 60px;
	text-align: center;
	width: 33%;
}

@media screen and (max-width: 960px){
	.person{
		width: 50%;
	}
}

@media screen and (max-width: 760px){
	.person{
		width: 80%;
	}
}

.person__name{
	font-size: 24px;
	font-weight: 700;
}

.person__img{
	border-radius: 10px;
	width: 100%;
	padding-top: 100%;
	position: relative;
	overflow: hidden;
	margin: 20px auto;
}
.person__img img{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.person__text{
	font-size: 16px;
}
.person__img--round{
	/* width: 360px;
	height: 360px; */
	border-radius: 50%;
}
.person--padding-sm{
	padding: 20px;

}
.countdown{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.countdown__item{
	background-color: #4b0241;
	border: 2px solid #4b0241;
	min-width: 160px;
	min-height: 160px;
	padding: 15px 30px 20px;
	margin: 0 35px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	transition: all 0.3s ease-in;
}
.countdown__num{
	font-size: 70px;
	font-weight: 700;
	line-height: 1.2;
}
.countdown__text{
	font-weight: 300;
	text-transform: uppercase;
}

.countdown__item:hover,
.countdown__item:focus{
	border-color: #fff;
	background-color: transparent;
	cursor: pointer;
}

@media screen and (max-width: 960px){
	.countdown__item{
		min-width: 120px;
		min-height: 120px;
		padding: 10px 20px 10px;
		margin: 0 20px;
	}

	.countdown__num{
		font-size: 50px;
	}

	.countdown__text{
		font-size: 14px;
	}
}

@media screen and (max-width: 760px){
	.countdown__item{
		min-width: 160px;
		min-height: 160px;
		padding: 15px 30px 20px;
		margin: 15px 35px;
	}

	.countdown__num{
		font-size: 70px;
	}

	.countdown__text{
		font-size: 14px;
	}

}

.sponosors{
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.sponsor{
	width: 25%;
	padding: 20px;
}
.sponsor img{
	width: 100%;
}
.socials{
	list-style: none;
	padding: 0;
	margin: 30px;
	text-align: center;
}
.social{
	display: inline-block;
}
.social a{
	display: flex;
	width: 60px;
	height: 60px;
	background-color: #dedede;
	color: #fff;
	border-radius: 50%;
}
.social a:hover,
.social a:focus,
.social a:active{
	background-color: #e71cb4;
	
}
.social i{
	margin: auto;
}

	.subscride-form{
		max-width: 550px; 
		margin: 0 auto;
		display: flex;
		margin: 20px 0 70px;
	}

	
	.subscride-form__input{
		color: #888888;
		padding: 0 20px;
		margin: 0 10px;
		font-size: 18px;
		border-radius: 5px;
		outline: none;
		border: 2px solid #ffffff;
		width: 100%;
		max-width: 400px;
	}

	.subscride-form__input:focus{
		border-color: #8a2be8;
	}
	@media screen and (max-width: 576px){
		.subscride-form{
			flex-direction: column;
		}
		.subscride-form__input{
			margin: 0;
			max-width: none;
			margin-bottom: 10px;
		}
	}
	/* / form  subscride*/

	/* contact form */
	.contact-form{
		display: flex;
		flex-wrap: wrap;
		font-size: 13px;
	}

	.contact-form__groupe{
		margin: 20px 17px 40px;
		/* background-color: red; */
		border-bottom: 1px solid #000000;
		width: 100%;
		/* height: 10px; */
		position: relative;
	}

	.groupe--1-2{
		width: calc(50% - 17px *2);
	}

	.contact-form__input,
	.contact-form__label{
		display: block;
		width: 100%;
	}

	.contact-form__input{
		outline: none;
		border: 0;
		border-bottom: 4px solid #000000;
		padding: 15px 0;
	}

	.contact-form__input:focus{
		border-bottom: 1px solid transparent;
	}

	.contact-form__label{
		padding: 10px 0;
		position: absolute;
		transform: translate(0, -100%);
		transition: transform .4s ease;

	}

	.contact-form__input:focus + .contact-form__label{
		transform: translate(0, 0);
	}

	/* / contact form */